@import "~bootstrap/scss/bootstrap";

body {
  font-size: 16pt;
  color: black;
}
#navLinks {
text-align: center;
}

.aboutMe {
  display: flex;
  align-items: stretch;

}

.aboutMe p {
  background-color: black;
  color: white;
  background-size: cover;
}

#bioPage {

}

.page-footer {
  background-color: black;
  color: white;
  text-align: center;
}
.images {
display: flex;
flex: wrap;
width: 150px;
height: 150px;
margin: auto;
margin-top: 10px;
margin-left: 10px;
padding: 10px;
}

li {
  list-style-type: none;
}
.techContainer {
  background-color:  #FFFFFF;
}

.projectsPage {
      border-radius: .25rem;
      width: 40%;
box-shadow:10px 10px 5px;
border: 1px solid lightblue;
margin-right: 40px;
margin-top: 33px;
background-color:#F5F5F5;
justify-content: center

    }

#technologiesPage {
  display: flex;
  flex: wrap;
    }

#projectsPage {
  display: flex;
  flex: wrap;
}

#bioPage  {
  display: flex;
}

.hideStuff {
  display: none!important;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
